body {
  margin: 20px;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.profile-card {
  display: flex;
  margin: 15px;
  min-width: 400px;
}

.profile-avatar {
  border-radius: 50%;
  border: 3px solid black;
  background-color: black;
}

.user-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  margin: 0;
  font-size: 1.5em;
  color: black;
}

.profile-email {
  font-size: 1.3em;
  margin: 0;
}

.profile-email a {
  color: #0074d9;
}